@import '@mdi/font/css/materialdesignicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Mulish;
  src:url("./Mulish-VariableFont_wght.ttf");
}
@font-face {
  font-family: Orbitron;
  src:url("./Orbitron-VariableFont_wght.ttf");
}
.ag-theme-quartz {
  --ag-foreground-color: theme(colors.surface.0)!important;
  --ag-background-color: theme(colors.surface.800)!important;
  --ag-header-background-color: theme(colors.surface.800)!important;
  --ag-secondary-foreground-color: theme(colors.surface.0 / 80%)!important;
  --ag-active-color: theme(colors.primary.400)!important;
  --ag-odd-row-background-color: theme(colors.surface.700 / 30%)!important;
  --ag-range-selection-border-color: theme(colors.primary.400 / 80%)!important;
  --ag-border-color: theme(colors.surface.700)!important;
  --ag-row-border-style: none!important;
  --ag-header-column-resize-handle-height: 40%!important;
  --ag-header-column-resize-handle-width: 1px!important;
  --ag-font-family: theme(fontFamily.mulish)!important;
  --ag-card-shadow: none!important;
  --ag-selected-row-background-color: theme(colors.primary.400 / 40%)!important;
}

.ag-cell-focus {
  --ag-border-radius: theme(borderRadius.md)!important;
  border-radius: theme(borderRadius.md)!important;
}

.ag-cell-focus .ag-input-field-input {
  --ag-input-focus-border-color: transparent!important;
  background-color: theme(colors.surface.900)!important;
}
